:root {
  --pico-bg: #1a1a1a; /* Background color */
  --pico-text: #e0e0e0; /* Text color */
  --pico-border: #444444; /* Border color */
  --pico-primary: #0d6efd; /* Primary button color */
  --pico-primary-hover: #0a58ca; /* Primary button hover color */
  --pico-secondary: #6c757d; /* Secondary button color */
  --pico-secondary-hover: #5a6268; /* Secondary button hover color */
  --pico-bg-hover: #555555; /* Background color on hover */
  --pico-border-hover: #666666; /* Border color on hover */
  --pico-toast-bg: #222222; /* Toast background color */
  --pico-toast-text: #ffffff; /* Toast text color */
  --pico-toast-close: #ffffff; /* Toast close button color */
}

/* Toast Notifications */
.toast {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background: var(--pico-toast-bg);
  color: var(--pico-toast-text);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.toast.show {
  opacity: 1;
}
.toast .toast-close {
  margin-left: 16px;
  background: none;
  border: none;
  color: var(--pico-toast-close);
  font-size: 16px;
  cursor: pointer;
}

.header {
  background: var(--pico-bg);
  color: var(--pico-text);
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  justify-content: center;
}

li {
  display: inline;
}

#resumeButton {
  color: orange;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  float: right;
  margin-top: 20px;
}

#resumeButton:hover {
  color: rgb(211, 88, 17);
  transition: color 0.3s ease;
  transform: scale(1.05); /* Zoom effect on hover */
}

footer {
  background: var(--pico-bg);
  color: var(--pico-text);
  padding: 16px;
  text-align: center;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

nav{
  display: flex;
  gap: 16px;
  margin: 16px 15px;
  border-bottom: 1px solid var(--pico-border);
}

nav a {
  color: var(--pico-text);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}